<%= form_with(model: tracked_keyword) do |form| %>
  <% if tracked_keyword.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tracked_keyword.errors.count, "error") %> prohibited this tracked_keyword from being saved:</h2>

      <ul>
        <% tracked_keyword.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :keyword, style: "display: block" %>
    <%= form.text_field :keyword %>
  </div>

  <div>
    <%= form.label :domain, style: "display: block" %>
    <%= form.text_field :domain %>
  </div>

  <div style="display: flex; gap: 1rem; margin-top: 1rem;">
    <div>
      <%= form.label :gl, "Country Code (gl)", style: "display: block" %>
      <%= form.text_field :gl, size: 5 %>
      <small>Ex: br, us, de</small>
    </div>
  
    <div>
      <%= form.label :hl, "Language Code (hl)", style: "display: block" %>
      <%= form.text_field :hl, size: 5 %>
      <small>Ex: pt, en, de</small>
    </div>
  </div>
  <div style="margin-top: 1rem;">
    <%= form.submit %>
  </div>
<% end %>