<h1><%= t('.title') %></h1>

<div id="tracked_keywords">
  <% @tracked_keywords.each do |tracked_keyword| %>
    <div id="<%= dom_id tracked_keyword %>">
      <p>
        <strong><%= t('.keyword') %>:</strong>
        <%= tracked_keyword.keyword %>
      </p>
    
      <p>
        <strong><%= t('.domain') %>:</strong>
        <%= tracked_keyword.domain %>
      </p>
    
      <p>
        <%= link_to t('.show_link'), tracked_keyword %>
      </p>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to t('.new_link'), new_tracked_keyword_path %>