<div>
  <p>
    <strong><%= t('.keyword') %>:</strong>
    <%= @tracked_keyword.keyword %>
  </p>

  <p>
    <strong><%= t('.domain') %>:</strong>
    <%= @tracked_keyword.domain %>
  </p>
</div>

<div>
  <%= link_to t('.edit'), edit_tracked_keyword_path(@tracked_keyword) %> |
  <%= link_to t('.back'), tracked_keywords_path %>

  <%= button_to t('.destroy'), @tracked_keyword, method: :delete %>
</div>

<hr>

<h2><%= t('.ranking_history') %></h2>

<%# Assumindo que você tem uma rota 'check_ranking_tracked_keyword_path' para disparar o worker %>
<%= button_to t('.check_ranking_now'), check_ranking_tracked_keyword_path(@tracked_keyword), method: :post %>

<table>
  <thead>
    <tr>
      <th><%= t('.date') %></th>
      <th><%= t('.position') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracked_keyword.ranking_histories.order(checked_on: :desc).each do |history| %>
      <tr>
        <td><%= history.checked_on.strftime("%Y-%m-%d") %></td>
        <td><%= history.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>